@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(156, 61, 168);
}

.container {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 50px;
}

.counter {
  font-size: 4rem;
  font-weight: 600;
  padding: 1rem;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
}

.subtitle {
  color: #fff;
}