.cards-container {
  display: flex;
  padding: 1rem;
  background: linear-gradient(rgba(100, 108, 255, 0.6) 70%, rgba(255, 255, 255, 0.2)) ;
  height: calc(600px + 2rem);
  gap: 1rem;
  /* -webkit-transition: all 700ms ease-in; */
  /* transition: all 0.3s ease-in-out; */
}

.card {
  display: flex;
  height: 600px;
  flex: 0.25;
  align-items: end;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 600;
  filter: grayscale(0.5);
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out, filter 0.3s ease-in-out; /* Agregado una transici칩n para 'filter' y reducido la duraci칩n de 'width' */
}

.card.expanded {
  flex: 7;
  -webkit-transition: all 2000ms ease-in, width 2000ms ease-in; Agrega la transici칩n para 'width';
}

.card:hover {
  filter: grayscale(0) contrast(1.1);
  outline: 1px solid rgba(103, 16, 114, 0.7);
}

figcaption {
  background-color: rgba(238, 238, 238, 0.65);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  /* transition: all 0.3s ease-in-out; */
  opacity: 0;
}

figcaption:not(.hide) {
  opacity: 1;
}

/* Clases din치micas */
.hide {
  flex: 0.25;
  -webkit-transition: all 2000ms ease-in;
}
